body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#navbar {
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
}

#main-doc {
    width: auto;
    margin-left: 20%;
}